* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
.wrap {
  width: 980px;
  margin: auto;
}

/* header */
.header {
  background-color: #3d62ad;
  display: flex;
}
.header h1 {
  font-size: 20px;
  line-height: 60px;
}
.header h1 a {
  background: url(../img/web/logo.jpg) no-repeat;
    background-size: contain;
    display: block;
    width: 120px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.header nav {

}
.header .menu {
  background-color: #ec6d34;
}